{% extends "layout.html" %}

{% block content %}

 {% for content in contents %}
 <div class="papers">
     <h2>{{content.Title}}</h2>
     <p class="paperabout">
         作者：<span class="paperinfo">{{content.Username}}</span>-
         时间：<span class="paperinfo">{{content.Addtime}}</span>-
         阅读：<span class="paperinfo">{{content.Num}}</span>-
         分类于：<span class="paperinfo">{{content.Category}}</span>-
         评论：<span class="paperinfo">{{content.Comment}}</span>
     </p>
     <dfn>
         <div class="bgimg">
            <p id="Dsicription">BOLG-序:{{content.Description}}</p>
         </div>
    </dfn>
     <div class="readmore"><a href="/view?contentId={{content.Id}}&num={{content.Num}}">阅读全文</a></div>
 </div>
 {% endfor %}

{% endblock %}